* {
    margin:0;
    padding:0;
}

:root {
    --Night: rgb(7, 11, 12);
    --Russian-Violet: rgb(65, 31, 96);
    --Moonstone: rgb(68, 172, 186);
    --Honeydew: rgb(239, 254, 238);
}

header {
    background-color: var(--Russian-Violet);
    font-family: Metal Mania, 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: var(--Honeydew);
    padding: 1.5rem 0;
}

h1 {
    font-size: 46px;
}

footer {
    background-color: var(--Moonstone);
    text-align: center;
    font-family: Lacquer, Arial, Helvetica, sans-serif;
    padding: 1rem 0;
}