* {
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 40em) {    
    header {
        display: flex; 
        justify-content: space-between; 
        align-items: center; /* Vertically center items */
        padding: 15px 20px;
        background-color: var(--Russian-Violet);
        height: 127px;
    }
    
    #menu {
        display: none;
    }

	.navigation {
		display: flex;
        align-items: center;
        justify-content: flex-end;
	}
	.navigation li {
		display: block; /* change state in small view */
		/* flex: 1 1 100%; */
	}

	.navigation a {
		text-align: center;
        color: #fff;
        font-size: 26px;
	}

    h1 {
        font-size: 46px;
    }

    nav {
        justify-content: flex-end;
    }

    .hero img,
    .banner-hero img {
        display: block;
        width: 100%;
        height: auto;
        position:relative;
    }

    .welcome {
        position: absolute;
        top: 175px;
        left: 25px;
        max-width: 350px;
        /* padding: 10px; */
        padding: 1rem;
        margin: 1rem;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    }

    .monthly-update {
        position: absolute;
        top: 175px;
        right: 25px;
        max-width: 375px;
        padding: 1rem;
        margin: 1rem;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    }

    fieldset img {
        max-width: 250px;
        height: auto;
        padding: 10px;
        
    }

    .ghost-card {
        grid-template-columns: repeat(3, 1fr); 
        /* max-width: 1400px; */
        /* margin: 0 auto; */
        display: grid;
        gap: 1rem;
        place-items: center;
    }

    h3 {        
        grid-column: span 3;
    }

    #netherscale {
        position: absolute;
        left: 5rem;
        top: 13rem;
    }

    #feedback {
        position: absolute;
        right: 5rem;
        top: 13rem;
    }

}



@media only screen and (max-width: 75em) {
    .ghost-card {
        grid-template-columns: repeat(2, 1fr); 
    }

    h3 {
        grid-column: span 2;
    }
 }
