* {
    margin:0;
    padding:0;
}

:root {
    --Night: rgb(7, 11, 12);
    --Russian-Violet: rgb(65, 31, 96);
    --Moonstone: rgb(68, 172, 186);
    --Honeydew: rgb(239, 254, 238);
}

header {
    background-color: var(--Russian-Violet);
    font-family: Metal Mania, 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: var(--Honeydew);
    padding: 1.5rem 0;
}

h1 {
    font-size: 46px;
}

/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: var(--Russian-Violet);
	color: #000;
    position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "≡";
    color: #fff;
}

#menu.show::before {
	content: "X";
}

nav {
	background-color: var(--Russian-Violet);
    font-family: Lacquer, 'Arial Narrow', sans-serif;
}
.navigation {
	list-style: none;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1.5rem, 2vmin, 1.5rem);
}

.navigation a:hover, .navigation a:active {
	color: var(--Moonstone);
	background-color: black;
}

.show li {
	display: block;
}

.hero img {
    width: 100%;
    height: auto;
	position: relative;
}

h2, 
legend {
	font-family: Lacquer, 'Franklin Gothic Medium', sans-serif;
	text-align: center;
	padding-bottom: 10px;
}

.upper,
legend {
	font-size: larger;
	font-weight: bolder;
	text-align: center;
	padding-bottom: 10px;
}

section {
	background-color: var(--Honeydew);
	font-family: Comic Neue, Helvetica, sans-serif;
	text-align: center;
	border: 8px solid var(--Moonstone);
	border-radius: 8px;
}

fieldset {
	margin: 10px;
	display: block;
	justify-items: center;
	padding: 10px;
}

a {
	font-weight: bold;
}

footer {
    background-color: var(--Moonstone);
    text-align: center;
    font-family: Lacquer, Arial, Helvetica, sans-serif;
    padding: 1rem 0;
}