header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(71, 162, 247);
    
}

body {
    font-family:  Roboto, 'Arial Narrow', Arial, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    background-color: whitesmoke;
    color: black;
    border-radius: 8px;
    padding: 10px;
}